        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
        color: #333;
        text-shadow: none;
        background-color: black;
        border: 1px solid #fff;
        }

        html,
        body {
        height: 100%;
        background-color: black;
        font-family: 'Roboto';
        padding-left: 10px;
        padding-right: 10px;
        margin: 0%;
        
        }

        p {
        font-family: 'Roboto';
        color: white;
        font-weight: 200;
        }

        a,
        a:focus,
        a:hover {
        color: black;
        }

        .nav {
        font-family: 'Roboto';
        color: white;
        }

        .masthead {
            width: 90vw;
        }
        .masthead-brand {
            position: fixed;
            height: 50px;
            margin-top: -10px;
            z-index: 150;
            font-family: 'Roboto';
            color: white;

        }

        .nav-masthead {
            position: fixed;
            margin-top: 40px;
            z-index: 150;
            font-family: 'Roboto';
        }

        #nav-block {
            background-color: white;
            z-index: 10;
            position: fixed;
            height: 120px;
            width: 150%;
            margin-left: -130px;
            margin-top: -20px;
            border-bottom: 1px solid gray;
            font-family: 'Roboto';


        }

        .center{
            position: fixed; /* or absolute */
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }


        @media (min-width: 992px) {
            body {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-pack: center;
                -webkit-box-pack: center;
                color: black;
            }

            .cover-container {
                max-width: 95%;
            }

            .masthead {
                margin-bottom: 2rem;
            }
        
            .masthead-brand {
                float: left;
                height: 50px;
                margin-top: -10px;
                position: relative;
            }

            .nav-masthead {
                float: right;
                position: relative;
                margin-top: 0px;
            }

            .nav-masthead .nav-link {
                padding: .25rem 0;
                color: black;
                background-color: transparent;
                border-bottom: 2px solid transparent;
            }
        
            .nav-masthead .nav-link:hover,
            .nav-masthead .nav-link:focus {
                border-bottom-color: black;
            }
        
            .nav-masthead .nav-link + .nav-link {
                margin-left: 1rem;
                font-family: 'Roboto';
            }
        
            .nav-masthead .active {
                color: teal;
                border-bottom-color: black;
            }

            .mastfoot {
                color: rgba(255, 255, 255, .5);
            }
        
            hr {
                margin-top: 15px;
                margin-bottom: 15px;
                border: 0;
                border-top: 1px solid black;
                width: 90%;
            }


        }


        @media only screen and (min-width: 992px) {
            .mobile-only {
                display:none !important;
            }
        } 
    
        @media only screen and (max-width: 1026px) {
            .desktop-only {
                display:none !important;
            }
        } 